html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #b275bf; /* Light Purple */
  font-family: 'Overpass', sans-serif;
  color: #F0F8FF; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #9a4dab; /* Darker Purple */
}

h1 {
  font-size: 2.5em;
  margin: 0;

}

nav {
  margin-top: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #F0F8FF; 
  font-weight: 700;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #7e318f; /* Darkest purple */
  min-width: 160px;
  z-index: 1;
}

nav ul li:hover .dropdown-content {
  display: block;
}

nav .dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left;
}

nav .dropdown-content a:hover {
  background-color: #fa70e3; 
}

main {
  padding: 20px;
  text-align: left;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}


.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


p {color:#7e318f;
  }

ol {color:#7e318f;
   font-weight: bold;}

.studyMethod {
  font-weight: bold;
  color: #7e318f;
}